(
    name: "test",
    entities: [
        (
            id: "player",
            components: [
                (
                    id: "tile",
                    config: (
                        texture: (
                            image: "tile_bg_empty",
                            transform: (
                                position: (128.0, 0.0),
                                rotation: 0.0,
                                scale: 0.0
                            )
                        )
                    )
                ),
                (
                    id: "tile",
                    config: (
                        texture: (
                            image: "tile_bg_empty",
                            transform: (
                                position: (-128.0, 0.0),
                                rotation: 0.0,
                                scale: 0.0
                            )
                        )
                    )
                ),
                (
                    id: "tile",
                    config: (
                        texture: (
                            image: "tile_bg_empty",
                            transform: (
                                position: (196.0, 0.0),
                                rotation: 0.0,
                                scale: 0.0
                            )
                        )
                    )
                ),
            ]
        )
    ]
)